* {
    font-family: 'Cutive', 'Noto Serif HK', 'Cutive Mono', serif;
}

body {
    background: rgb(152,0,255);
    background: linear-gradient(180deg, rgba(152,0,255,1) 0%, rgba(255,112,181,0.8390755960587359) 61%, rgba(255,255,255,1) 100%);
}

h1,h2 {
    text-align: center;
}

h2 {
    background-image: url("/assets/images/banner2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    color: black;
    text-shadow: 5px 5px 8px white, 0 0 25px brown;
}

.header-h1 {
    background-image: url("/assets/images/banner.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.task {
    color: white;
    background-color: blue;
}

td {
    padding: 10px;
}

.a {
    color: black;
    background-color: rgb(134, 207, 134); 
}

.b {
    color: black;
    background-color: rgb(250, 214, 182); 

}

.c {
    color: black;
    background-color: rgb(235, 125, 125);
}

.d  {
    color: black;
    background-color: rgb(196, 192, 192);
}