* {
    font-family: 'Cutive', 'Noto Serif HK', 'Cutive Mono', serif;
}

body {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 6%, rgba(255,112,181,0.9343136912968313) 60%, rgba(165,31,255,0.7998599097842262) 100%); 
}

h1,h2 {
    text-align: center;
}

h2 {
    background-image: url("/assets/images/banner2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    color: black;
    text-shadow: 5px 5px 8px white, 0 0 25px brown;
}

button {
    background-color: #a51fff;
}

.header-h1 {
    background-image: url("/assets/images/banner.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.task {
    color: white;
    background-color: #a51fff;
}

td {
    padding: 10px;
}

.a {
    color: black;
    background-color: rgb(134, 207, 134); 
}

.b {
    color: black;
    background-color: rgb(250, 214, 182); 

}

.c {
    color: black;
    background-color: rgb(235, 125, 125);
}

.d  {
    color: black;
    background-color: rgb(196, 192, 192);
}